github "ra1028/VueFlux" ~> 1.4.0
github "ra1028/Alembic" ~> 3.3.0
github "Alamofire/Alamofire" ~> 4.7.0
github "onevcat/Kingfisher" ~> 4.6.3
github "antitypical/Result" ~> 3.2.4
github "onmyway133/DeepDiff" ~> 1.1.2
